<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">Menu</span>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
        <a mat-list-item href="..." routerLink="Complaint">Register Complaint</a>
        <a mat-list-item href="..." routerLink="ViewStatus">View Complaint Status</a>
        </div>
		</mat-nav-list>
    <mat-nav-list>
</mat-nav-list>
	</mat-sidenav>

	<div class="example-sidenav-content">


        <section class="wrapper">
            <div class="container-fostrap">
<br><br><br><br><br>
                <div class="content">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="card">
                                    <a class="img-card">
                                    <img src="https://www.varachhabank.com/upload/pages/general-complaint.png" />
                                  </a>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                            <a> General Complaint
                                          </a>
                                        </h4>
                                        <p class="">
                                            A General Complaint is when a client expresses dissatisfaction with a situation related to the Family Assistance Administration and requests management intervention.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="card">
                                    <a class="img-card">
                                    <img src="https://lawshelf.com/assets/databaseimages/7fa97e2c9dc44b18882feb32acfbcd78.png" />
                                  </a>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                            <a> Civil Complaint
                                          </a>
                                        </h4>
                                        <p class="">
                                            A civil complaint, a plaintiff alleges facts sufficient to establish all the elements of the claim and thus states a cause of action.
                                        <br><br></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="card">
                                    <a class="img-card">
                                    <img src="https://media.licdn.com/dms/image/D5612AQEiAXtw94MFTg/article-cover_image-shrink_600_2000/0/1685388765124?e=2147483647&v=beta&t=zb3Ez55l_pb33nNwv64CbTGkIgJKHJ2DXM5fau29V4s" />
                                  </a>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                            <a>Crime Complaint
                                          </a>
                                        </h4>
                                        <p class="">
                                           Crime is an act harmful not only to some individual but also to a community, society, or the state 
                                        <br><br><br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        
        
		<router-outlet></router-outlet>
	</div>

</mat-sidenav-container>

