.title-center {
    flex: 1 1 auto;
    text-align: center;
  }

   mat-toolbar{
    background-color: #72A0C1;
   }
   .example-card {
    max-width: 500px;
    background-color: #72A0C1;
}
.card1{
  max-width: 1000px;
  background-color: #72A0C1;
} 

