<h1 mat-dialog-title>Add Product Form</h1><br>
<div mat-dialog-content>
    <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
        <mat-label>User Id</mat-label>
        <input formControlName="userId" matInput placeholder="Id">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>User Name</mat-label>
        <input formControlName="userName" matInput placeholder="Name">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>User Type</mat-label>
        <mat-select formControlName="userType" placeholder="User Type">
            <mat-option value="User">User</mat-option>
            <mat-option value="Admin">Admin</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Mobile Number</mat-label>
        <input formControlName="mobileNumber" matInput placeholder="Mobile Number">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Email Id</mat-label>
        <input formControlName="eMailId" matInput placeholder="E-Mail Id">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input formControlName="location" matInput placeholder="Location">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput placeholder="Password">
    </mat-form-field>

</form>
</div>
<div mat-dialog-actions align='end'>
    <div mat-dialog-actions align='end'>
        <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="updateProduct()">{{actionBtn}}</button>
    
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>    
</div>
