<div>
    <mat-toolbar>
      <span class="title-center">Register Complaint</span>
    </mat-toolbar>
  </div>
  
  
  
  <div class="container-fluid">
    <div class="row">
  <div class="col" align="center">
    <br><br>
    <mat-card class="example-card">
      <mat-card-content>
      <form [formGroup]="myForm">
        <table>
            <tr><td><label class="la">User Name :</label></td><td> <mat-form-field class="example-full-width">
            <mat-label>User Name</mat-label>
            <input type="text"
                   placeholder="Enter User Name"
                   aria-label="Name"
                   matInput
                  formControlName="userName">
          </mat-form-field><br>
          <div *ngIf="myForm.get('userName')!.touched && myForm.get('userName')!.invalid">
            <div *ngIf="myForm.get('userName')!.hasError('required')">
              <font color="red">*User Name is required</font>
            </div>
            <div *ngIf="myForm.get('userName')!.hasError('pattern')">
              <font color="red">*Invalid User Name</font>
            </div>
          </div>
        </td>
          </tr>
      
          <tr><td><label class="la">Complaint Type :</label></td><td> 
            <mat-form-field class="example-full-width">
            <mat-label>Complaint Type</mat-label>
            <mat-select formControlName="complaintType" placeholder="Complaint Type">
                <mat-option value="General">General</mat-option>
                <mat-option value="Civil">Civil</mat-option>
                <mat-option value="Crime">Crime</mat-option>
            </mat-select>
        </mat-form-field><br>
          <div *ngIf="myForm.get('complaintType')!.touched && myForm.get('complaintType')!.invalid">
            <div *ngIf="myForm.get('complaintType')!.hasError('required')">
              <font color="red">*Complaint Type is required</font>
            </div>
            <div *ngIf="myForm.get('complaintType')!.hasError('pattern')">
              <font color="red">*Invalid Complaint Type</font>
            </div>
          </div>
        </td>
        </tr>
  
          <tr><td><label class="la">Description :</label></td><td> <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput
            cdkTextareaAutosize
            placeholder="Enter Description"
            aria-label="Description"
            #autosize="cdkTextareaAutosize"
            formControlName="description"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"></textarea>
          </mat-form-field><br>
            <div *ngIf="myForm.get('description')!.touched && myForm.get('description')!.invalid">
              <div *ngIf="myForm.get('description')!.hasError('required')">
                <font color="red">*Description is required</font>
              </div>
              <div *ngIf="myForm.get('description')!.hasError('pattern')">
                <font color="red">*Invalid Description</font>
              </div>
            </div> 
        </td></tr>

            <tr><td><label class="la">Aadhar Number :</label></td><td> <mat-form-field class="example-full-width">
                <mat-label>Aadhar Card Number</mat-label>
                <input type="Text"
                       placeholder="Enter Aadhar Number"
                       aria-label="AadharCard Number"
                       matInput
                      formControlName="aadharCardNumber">
              </mat-form-field><br>
                <div *ngIf="myForm.get('aadharCardNumber')!.touched && myForm.get('aadharCardNumber')!.invalid">
                  <div *ngIf="myForm.get('aadharCardNumber')!.hasError('required')">
                    <font color="red">*Aadhar Card Number is required</font>
                  </div>
                  <div *ngIf="myForm.get('aadharCardNumber')!.hasError('pattern')">
                    <font color="red">*Invalid Aadhar Card Number</font>
                  </div>
                </div>
            </td></tr>
  
           
  
          <tr><td colspan="2">
            <button mat-raised-button color="primary" (click)="registerComplaint(myForm.value)" (click)="changediv()">Register</button></td></tr>
           <br>
        </table>
      </form>
      <div *ngIf="flag"><mat-card class="card">
        <mat-card-content><font color="green">{{result}}</font></mat-card-content>
      </mat-card></div>
      </mat-card-content>
      </mat-card>
      
  </div>
  </div>
  </div>